@import url(http://fonts.googleapis.com/css?family=Lato:300,100,400);

*{
    /*
    padding:0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    */
  /*list-style: none;*/
}
li [class^=icon-],
li [class*=" icon-"] {
  width: 40px !important;
  font-size: 22px;
  display:block !important;
  position:absolute !important;
  float:none !important;
}

.inner-item {
    /*padding: 12px;*/
    position: relative;
    list-style: none;
}

.panel {
    clear: both;
}

.item-body {
  padding-bottom: 0px;
  padding-top: 0px;
}

.list-label {
    font-size: 20px;
    font-weight: 300;
    position: relative;
}

li>.list-label {
    left: 59px;
    top: 2px;
    list-style: none;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.2)
}

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.2)
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.2)
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.2)
}


html, body{
  height:100%;
}
body{
  background-color: #eee;
}
h1{
  margin-bottom:50px !important;
}
h1 {
  font: 300 3.2em/1.2 "Lato", sans-serif;
  color: white;
  margin: 0
}

header {
  padding-top: 30px;
  margin-bottom: 30px;
  text-align:center;
}
header p{
  color:rgba(255,255,255,.6);
}

/*
.reminder-container {
  margin: 0 auto;
  width: 500px;
  text-align: center
}

input[type='submit']{
  height:50px;
  width:70px;
  padding:10px;
  text-align:center;
  background-color: rgba(0,0,0,.25);
  border:0;
  border-left:0;
  color: white;
  cursor:pointer;
  padding:0;
  vertical-align:bottom;
  font:300 18px "Lato", "Arial", sans-serif;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type='text']:focus {
  outline: none;
}
.icon-trash,
.icon-pencil,
.icon-save {
  position: absolute;
  top: 3px;
  font-size: 20px;
  color: #aaa;
  cursor: pointer;
  right: 40px
}

.icon-trash {
  right: 10px
}
*/

.item-title {
    margin-top: 4px;
    margin-bottom: 5px;
    margin-left: 18px;
}

.edit-button,
.uninstall-button {
    position: absolute;
    color: #aaa;
    cursor: pointer;
}
.edit-button {
    left: 10px;
    top: 21px;
    font-size: 15px;
}
.uninstall-button {
    font-size: 20px;
    top: 18px;
    right: 17px;
}

.nested-item .onoffswitch {
    position: absolute;
    top: 8px;
    color: #aaa;
    cursor: pointer;
    right: 8px;
}
/*
.notification {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 3;
  padding: 5px 10px;
  color: white;
  display: none;
  box-shadow: 0 4px 0 -2px rgba(0, 0, 0, 0.1)
}
*/
.undo-button{
  background-color: orange;
  cursor: pointer;
  margin-left: -100px;
}
.save-notification{
  background-color: #2ecc71;
  margin-left: -50px;
}

button .icon-trash {
  float: none;
  margin-right: 10px;
  opacity: 1 !important;
  position: static
}

.animated-list{
  list-style-type: none;
  position: relative;
  padding: 0px 0px 12px 0px;
  max-width: 500px;
  margin: auto;
}

.animated-list>li {
  z-index:1;
  /*font-weight: 400;*/
  /*box-shadow: 0 7px 0 -4px rgba(0, 0, 0, 0.2);*/
  color: #444;
  text-align: left;
  min-height: 50px;
  line-height: 30px;
  /*font-size: 20px;*/
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  padding-right: 60px;
  position: relative;
  word-wrap: break-word;
  /*
  opacity: 0;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease
  */
}

.animated-list>li:focus {
  outline: none;
}
li[contenteditable='true']{
  color:black;
}

/* Demo 2 */

/*
@import "http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css";

@import url(http://fonts.googleapis.com/css?family=Lato:300,100,400);

html {
  height: 100%;
  position: relative
}

body {
  background-color: #8e44ad;
  font-family: "Lato", sans-serif;
  height: 2000px;
  color: white
}

li.new-item {
  opacity: 0;
  -webkit-animation: fadeIn .3s linear forwards;
  -o-animation: fadeIn .3s linear forwards;
  animation: fadeIn .3s linear forwards
}

li.disabled {
    opacity: 0.5;
    -webkit-animation: fadeSlightly .3s linear forwards;
    -o-animation: fadeSlightly .3s linear forwards;
    animation: fadeSlightly .3s linear forwards
}

@keyframes fadeSlightly {
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
  to {
    opacity: 1
  }
}

li.restored-item {
  -webkit-animation: openspace .3s ease forwards, 
    restored-item-animation .3s .3s ease-out forwards;
  -o-animation: openspace .3s ease forwards, 
    restored-item-animation .3s .3s ease-out forwards;
  animation: openspace .3s ease forwards, 
    restored-item-animation .3s .3s ease-out forwards
}

@keyframes openspace {
  to {
    height: auto
  }
}

@keyframes restored-item-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(4);
    -ms-transform: scale(4);
    -o-transform: scale(4);
    transform: scale(4)
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
  }
}

li.removed-item {
  -webkit-animation: removed-item-animation .6s ease-out forwards;
  -o-animation: removed-item-animation .6s ease-out forwards;
  animation: removed-item-animation .6s ease-out forwards;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%
}

@keyframes removed-item-animation {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(4);
    -ms-transform: scale(4);
    -o-transform: scale(4);
    transform: scale(4)
  }
}


@-webkit-keyframes fadeIn {
  to {
    opacity: 1
  }
}

@-o-keyframes fadeIn {
  to {
    opacity: 1
  }
}

@-webkit-keyframes openspace {
  to {
    height: auto
  }
}

@-o-keyframes openspace {
  to {
    height: auto
  }
}

@-webkit-keyframes restored-item-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(4);
    transform: scale(4)
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@-o-keyframes restored-item-animation {
  0% {
    opacity: 0;
    -o-transform: scale(4);
    transform: scale(4)
  }

  100% {
    opacity: 1;
    -o-transform: scale(1);
    transform: scale(1)
  }
}

@-webkit-keyframes removed-item-animation {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(4);
    transform: scale(4)
  }
}

@-o-keyframes removed-item-animation {
  0% {
    opacity: 1;
    -o-transform: scale(1);
    transform: scale(1)
  }

  100% {
    opacity: 0;
    -o-transform: scale(4);
    transform: scale(4)
  }
}
*/

/* Loading */
.spinner {
  /*

  margin: 100px auto;
  background-color: #333;
  */
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  width: 105px;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
