/* Navigation Bar */

.nav-cb-logo {
    width: 192px;
    /*margin-left: 11px;*/
    margin-top: -23px;
}

.btn-nav {
    font-weight: normal;
    color: white;
    cursor: pointer;
    border-radius: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-nav > span > .caret {
    left: 20px;
}

/*.nav-bridge-dropdown > .dropdown > .dropdown-menu {*/
/*ul[aria-labelledby="bridge-dropdown-list"] {*/
.nav-bridge-dropdown + .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.dropdown-menu > li > a > .bridge-name {
    position: relative;
    left: -15px;
    /*top: -1px;*/
    font-size: 13px;
}