
.edit-button,
.uninstall-button {
    position: absolute;
    top: 15px;
    color: #aaa;
    cursor: pointer;
    right: 40px;
}
.uninstall-button {
    right: 12px;
}

.nested-item .onoffswitch {
    position: absolute;
    top: 8px;
    color: #aaa;
    cursor: pointer;
    right: 8px;
}

.install-button {
  position: absolute;
  top: 7px;
  cursor: pointer;
  right: 10px;
}

/*
.new-item.nested-item {
  color: #ffffff;
  background-color: #444;
}

.nested-list {
  z-index: 2;
}
*/

.unconfirmed {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.confirmed {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 1;
}

/* Messages */
#messages-wrapper {
    overflow:auto;
    height:80px;
    background-color: #ffffff;
}

#messages-table {
    width: 100%;
}

table td.shrink {
    white-space:nowrap
}
table td.expand {
    width: 99%
}
