
.welcome {
    padding-top: 60px;
}
.welcome-text {
    font-size:medium;

}
.card-heading {
    float: left;
}
.card-heading,
.card-subheading {
    padding-top: 4px;
}
.card-subheading {
    padding-left: 80%;
}

.install-button {
  position: absolute;
  top: 13px;
  cursor: pointer;
  right: 13px;
}

.portal-modal {
    padding-top: 120px;
}

.modal-container {
    position: relative;
    padding-bottom: 40px;
}
.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}

#app .modal {
    overflow: visible;
}
/*
.new-item.nested-item {
  color: #ffffff;
  background-color: #444;
}

.nested-list {
  z-index: 2;
}
*/

.unconfirmed {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.confirmed {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 1;
}

/* Messages */
#messages-wrapper {
    overflow:auto;
    height:80px;
    background-color: #ffffff;
}

#messages-table {
    width: 100%;
}

table td {
    font-weight: 300;
}

table td.shrink {
    white-space:nowrap
}
table td.expand {
    width: 99%
}
