Django==1.6.1
South==0.7.6
argparse==1.2.1
distribute
django-allauth==0.13.0
django-annoying==0.7.7
django-avatar==1.0.5
django-braces==1.2.2
django-classy-tags==0.4
#django-cms==2.4.1
django-countries==1.5
#cmsplugin-filer==0.9.5
django-crispy-forms==1.2.8
#django-debug-toolbar==1.0.0
django-filer==0.9.4
#django-haystack==2.1.0
django-model-utils==2.0.0
django-redis-sessions
django-sekizai==0.7
#django-tastypie==0.11.0
-e git+https://github.com/ContinuumBridge/django-tastypie.git@f857902dc88cd53c8ddc377d4b880e07bfaf3d94#egg=tastypie
#git+https://github.com/hcarvalhoalves/django-rest-thumbnails.git@52cab1123bd7ec0715f8d660571dec0b9946bfbc
git+https://github.com/toastdriven/django-tastypie.git@e5d3bd7af807f721f2c326d4bbe971f62ef3eb33
factory_boy==2.2.1
geopy==0.95.1
mimeparse==0.1.3
oauthlib==0.4.2
#PIL
Pillow==1.6.0
psycopg2==2.4.5
python-dateutil==2.1
pystache==0.3.1
pytz>=2013b
#git+https://github.com/bopfermann/django-raygun-dot-io.git#egg=django_raygun_dot_io
redis==2.8.0
requests==1.2.3
requests-oauthlib==0.3.2
six==1.3.0
#twython==3.0.0
wsgiref==0.1.2
