<h2>Bridge Messages</h2>

<div id="messages-wrapper">
    <table id="messages-table" class="table-condensed table-hover table-striped">
    </table>
</div>

<div class="input-group">
  <input type="text" id="command-input" class="form-control">
  <span class="input-group-btn">
    <button id="send-button" class="btn btn-default" type="button">Send</button>
  </span>
</div>
<div class="topcoat-button-bar">
  <div id='start' class="topcoat-button-bar__item">
    <button class="topcoat-button-bar__button">Start</button>
  </div>
  <div id='stop' class="topcoat-button-bar__item">
    <button class="topcoat-button-bar__button">Stop</button>
  </div>
  <div id='update' class="topcoat-button-bar__item">
    <button class="topcoat-button-bar__button">Update</button>
  </div>
  <div id='send-log' class="topcoat-button-bar__item">
    <button class="topcoat-button-bar__button">Send Log</button>
  </div>
  <div id='z-exclude' class="topcoat-button-bar__item">
      <button class="topcoat-button-bar__button">Z Exclude</button>
  </div>
</div>
<div class="topcoat-button-bar">
  <div id='restart' class="topcoat-button-bar__item">
    <button class="topcoat-button-bar__button">Restart</button>
  </div>
  <div id='reboot' class="topcoat-button-bar__item">
    <button class="topcoat-button-bar__button">Reboot</button>
  </div>
  <div id='upgrade' class="topcoat-button-bar__item">
    <button class="topcoat-button-bar__button">Upgrade</button>
  </div>
</div>
