
{% load straight_include %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<title>Continuum Bridge</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/theme.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/portal.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/app.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/list.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/backbone.modal.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/backbone.modal.theme.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ionicons.css">
	<!--<link rel="stylesheet" href="stylesheets/index.css" type="text/css" media="screen" />-->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/lib/animate.css" media="screen, projection">    
	
	<link rel="stylesheet" href="{{ STATIC_URL }}css/topcoat-mobile-light.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/application.css" />
	
	<!-- Scripts -->
	<!-- cordova.js is served from localhost to ensure the correct version -->
	<!-- <script src="http://localhost/appgyver/cordova.js"></script>
	<script src="components/steroids-js/steroids.js"></script> -->
	
    <script src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}js/underscore.js"></script>
    <script src="{{ STATIC_URL }}js/socket.io.js"></script>
    <script src="{{ STATIC_URL }}js/backbone.js"></script>
    <script src="{{ STATIC_URL }}js/backbone-relational.js"></script>
    <script src="{{ STATIC_URL }}js/backbone.marionette.js"></script>
    <script src="{{ STATIC_URL }}js/backbone.io.js"></script>
    <script src="{{ STATIC_URL }}js/backbone.modal-bundled-min.js"></script>
    <!--<script src="{{ STATIC_URL }}js/marionette.bossview.js"></script>-->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/theme.js"></script>
    <script src="{{ STATIC_URL }}js/svg.min.js"></script>
    <script src="{{ STATIC_URL }}js/svg.import.min.js"></script>
    <script src="{{ STATIC_URL }}js/humanize.js"></script>
    <script src="{{ STATIC_URL }}js/date.js"></script>
    <script src="{{ STATIC_URL }}js/ICanHaz.js"></script>
    <script src="{{ STATIC_URL }}js/list.js"></script>
    <!--<script src="{{ STATIC_URL }}js/greensock-v12-js/minified/TweenLite.min.js"></script>
    <script src="{{ STATIC_URL }}js/greensock-v12-js/minified/plugins/CSSPlugin.min.js"></script>
    -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    
    <!--
	<script src="{{ STATIC_URL }}js/onerror.js"></script>
	<script src="{{ STATIC_URL }}js/console.log.js"></script>
    -->

    <script type="text/template" id="portalLayoutTemplate">
    	portalLayoutTemplate
        <div id="main-region"></div>
    </script>
    
    <script type="text/template" id="appItemViewTemplate">
        <h4 class="list-group-item-heading"><%=name%></h4>
    </script>

    <script type="text/template" id="appListTemplate">
    	appListTemplate
    </script>
    
    <script type="text/template" id="appSectionTemplate">
		<h2>Apps</h2>

        <div id="app-list" class="table"></div>
    	<div id="download-apps"  class="topcoat-button--cta center full">Download Apps</div></br>
    </script>
    
    <script type="text/template" id="deviceOptionsTemplate">
    	deviceOptionsTemplate
    </script>
    
    <script type="text/template" id="deviceItemViewTemplate">
        <h4 class="list-group-item-heading"><%=name%></h4>
        <i id="edit-button" class="icon ion-edit edit-button"></i>
        <i class="icon ion-trash-a uninstall-button"></i>
    </script>
    
    <script type="text/template" id="deviceSectionTemplate">
		<h2>Devices</h2>

        <div id="device-list" class="table"></div>
    	<div id="connect-device" class="topcoat-button--cta center full">Connect to a Device</div></br>
    </script>
    
    <script type="text/template" id="devicesWrapperTemplate">
    	<div id="deviceList"></div>
    </script>
    
    <script type="text/template" id="discoveredDeviceItemViewTemplate">
        <h4 class="list-group-item-heading"><%=name%></h4>
    </script>
    
    <script type="text/template" id="deviceDiscoverySectionTemplate">
		<h2>Device Discovery</h2>

        <div id="discovered-device-list" class="table"></div>
    	<div id="rescan" class="topcoat-button--cta center full">Rescan</div></br>
    </script>

    <script type="text/template" id="modal-template">
      <div class="bbm-modal__topbar">
        <h3 class="bbm-modal__title">Install Device</h3>
      </div>
      <div class="bbm-modal__section">
        <ul>
        <li><label>Device [friendly] name</label></li>
        <li><input id="friendly-name" type="text" placeholder="Eg. Front door"></li>
        </ul>
      </div>
      <div class="bbm-modal__bottombar">
        <a href="#" id="submit-button" class="bbm-button">Install Device</a>
        <a href="#" id="cancel-button" class="bbm-button">Close</a>
      </div>
    </script>

    <script type="text/template" id="commandsTemplate">
		<h2>Bridge Commands</h2>
	    
		<textarea id="commands" class="command-textarea" rows="6" ></textarea>
		
	    <div class="topcoat-button-bar">
		  <div id='start' class="topcoat-button-bar__item">
			<button class="topcoat-button-bar__button">Start</button>
		  </div>
		  <div id='stop' class="topcoat-button-bar__item">
			<button class="topcoat-button-bar__button">Stop</button>
		  </div>
		  <div id='update' class="topcoat-button-bar__item">
			<button class="topcoat-button-bar__button">Update</button>
		  </div>
		</div>
	    <div class="topcoat-button-bar">
		  <div id='config' class="topcoat-button-bar__item">
			<button class="topcoat-button-bar__button">Config</button>
		  </div>
		  <div id='restart' class="topcoat-button-bar__item">
			<button class="topcoat-button-bar__button">Restart</button>
		  </div>
		  <div id='reboot' class="topcoat-button-bar__item">
			<button class="topcoat-button-bar__button">Reboot</button>
		  </div>
		</div>
    	
    </script>
    
    <script type="text/template" id="navSectionTemplate">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html" class="navbar-brand"><strong>CB</strong></a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
            <ul id="navbar-left" class="nav navbar-nav navbar-left">
                <li id="bridge-dropdown" class="dropdown"></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="index.html">HOME</a></li>
                <li><a href="about-us.html">ABOUT US</a></li>
                <li><a href="sign-in.html">Sign in</a></li>
            </ul>
        </div>
    </script>

    <script type="text/template" id="bridgeDropdownTemplate">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">BRIDGES <b class="caret"></b></a>
        <ul id="bridge-list" class="dropdown-menu">
        </ul>
    </script>
    
    <script type="text/template" id="bridgeItemViewTemplate">
        <a href="#"><%=name%></a>
    </script>

    <script type="text/template" id="homeSectionTemplate">
        <div class="row">
            <div id="app-section" class="col-md-6"></div>
            <div id="device-section" class="col-md-6"></div>
        </div>
        <div class="row">
            <div id="command-panel" class="col-md-6"></div>
            <div id="device-discovery-section" class="col-md-6"></div>
        </div>
    </script>
    	
    <script type="application/javascript" charset="utf-8">
      HOST_ADDRESS = '{{ host_address }}';
      PAGE_API = "{% url 'api_dispatch_list' api_name="v1" resource_name="device" %}";
      {% if data %}
      app = {loaded: true};
      {% endif %}
    </script>

	<!--<script src="javascripts/application.js"></script>--> 
	<script src="{{ STATIC_URL }}js/cb/cb-backboneio.js"></script>
	<!--<script src="{{ STATIC_URL }}js/cb/app-phonegap.js"></script>
    <script src="{{ STATIC_URL }}js/cb/apps/models.js"></script>
    <script src="{{ STATIC_URL }}js/cb/apps/views.js"></script>
    <script src="{{ STATIC_URL }}js/cb/devices/views.js"></script>
    <script src="{{ STATIC_URL }}js/cb/command_views.js"></script>
    <script src="{{ STATIC_URL }}js/cb/views.js"></script>
    <script src="{{ STATIC_URL }}js/cb/router.js"></script>
    -->
    
    <script src="{{ STATIC_URL }}js/cb/index.js"></script>

    <script src="{{ STATIC_URL }}js/cb/decorators.js"></script>
    <script src="{{ STATIC_URL }}js/cb/filters.js"></script>
    <script src="{{ STATIC_URL }}js/cb/cb-models.js"></script>
    <script src="{{ STATIC_URL }}js/cb/cb-views.js"></script>

    <script src="{{ STATIC_URL }}js/cb/apps/models.js"></script>
    <script src="{{ STATIC_URL }}js/cb/bridges/models.js"></script>
    <script src="{{ STATIC_URL }}js/cb/devices/models.js"></script>
    <script src="{{ STATIC_URL }}js/cb/users/models.js"></script>

    <script src="{{ STATIC_URL }}js/cb/apps/views.js"></script>
    <script src="{{ STATIC_URL }}js/cb/devices/device_views.js"></script>
    <script src="{{ STATIC_URL }}js/cb/devices/device_discovery_views.js"></script>
    <script src="{{ STATIC_URL }}js/cb/devices/modal_views.js"></script>
    <script src="{{ STATIC_URL }}js/cb/commands_view.js"></script>
    <script src="{{ STATIC_URL }}js/cb/nav_view.js"></script>
    <script src="{{ STATIC_URL }}js/cb/home_view.js"></script>

    <script type="application/javascript" charset="utf-8">
        $(function(){
            CBApp.start();
        })
    </script>


</head>
<body id="app" class="pull_top">
    <div id="nav-region"  class="navbar navbar-inverse navbar-fixed-top" role="navigation"></div>
    <div id="modals-region"></div>
    <div id="portal-body" class="container">
        <div id="main-region"></div>
    </div>
</body>
</html>
