
{% load straight_include %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<title>Continuum Bridge</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/list.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/led.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/backbone.modal.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/backbone.modal.theme.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/notifications.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ionicons.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/backbone.toggleswitch.css">
	<!--<link rel="stylesheet" href="stylesheets/index.css" type="text/css" media="screen" />-->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/lib/animate.css" media="screen, projection">    
	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/topcoat-mobile-light.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/application.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/portal.css">

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/theme.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/app.css">
	<!-- Scripts -->
    <script type="application/javascript" charset="utf-8">
      HOST_ADDRESS = '{{ host_address }}';
      PAGE_API = "{% url 'api_dispatch_list' api_name="v1" resource_name="device" %}";
      {% if data %}
      app = {loaded: true};
      {% endif %}
    </script>

	<script src="{{ STATIC_URL }}bundle.js"></script>

</head>
<body id="app" class="pull_top">
    <div id="nav-region"  class="navbar navbar-inverse navbar-fixed-top" role="navigation"></div>
    <div id="notifications-region">
        <div id="top-region"></div>
    </div>
    <div id="modals-region"></div>
    <div id="portal-body" class="container">
        <div id="main-region"></div>
    </div>
</body>
</html>
