
.counter-large {
    position: absolute;
    width: 50px;
    top: 12px;
    right: 83px;
}

.counter-small {
    position: relative;
    /*width: 50px;*/
    top: 0px;
    right: -129px;
}

.counter .number {
    width: 42px;
}