#app {
    /* 81 + 12 */
    /*margin-top: 93px;  */
}

.command-textarea {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 4px;
  line-height: 1.313rem;
  border: 1px solid #9daca9;
  background-color: #fff;
  box-shadow: inset 0 1px rgba(0,0,0,0.1);
  color: #454545;
  letter-spacing: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.command-textarea:focus {
  background-color: #fff;
  color: #454545;
  border: 1px solid #0036ff;
  box-shadow: 0 0 0 2px #6fb5f1;
}


/* Responsive
-------------------------------------------------- */

/* Large desktop */
@media (min-width: 1200px) {

}
@media (min-width: 980px) {

}
@media (max-width: 979px) {
    #events .features_op1_row .feature .img_box span.circle{
        top: 35%;
    }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    #events .features_op1_row .feature {
        margin-bottom: 60px;
    }
    #events .features_op1_row .last{
        margin-bottom: 0;
    }
    #events .features_op1_row .feature .img_box{
        text-align: center;
    }
    #events .features_op1_row .feature .text{

    }
    #events .features_op1_row .feature .text h6{
        text-align: center;
    }
    #events .features_op1_row .feature .img_box span.circle{
        top: 38%;
        left: 48%;
    }
    #events .features_op1_row .feature:hover .img_box{
        box-shadow:none;
    }
    #events .option2 {
        margin-bottom: 60px;
    }
    #events .option2 .feature {
        float: left;
        width: 100%;
        margin-bottom: 60px;
    }
    #events .option2 .right{
        /*margin-bottom: 0;*/
    }
    #events .option2 .feature .text{
        margin-top: 0;
    }
    #events .option3 .feature {
        margin-bottom: 60px;
        overflow: hidden;
    }
}
/* Landscape phones and down */
@media (max-width: 480px) {

    #events .event-wrapper { 
        width:100%; 
        height: auto;
        min-height: 100%;
        margin: 1%;
        border: 12px solid black;
        -webkit-border-radius: 10px 10px 10px 10px; 
        -moz-border-radius: 10px 10px 10px 10px;
        -o-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px; 
    }
    .event-wrapper .venn-wrapper {
        width: 100%; 
        /*height: 240px;
        min-height: 100%;*/
    }
    .venn-diagram     { 
        width: 100%;
        /*top: 0px;
        left: 8px;*/
    }
    #events .subtitle h2 {
        font-size: 22px;
        line-height: 30px;
    }
    #events .features_op1_row .feature {
        margin-bottom: 60px;
    }
    #events .features_op1_row .last{
        margin-bottom: 0;
    }
    #events .features_op1_row .feature .img_box{
        text-align: center;
    }
    #events .features_op1_row .feature .text{

    }
    #events .features_op1_row .feature .text h6{
        text-align: left;
    }
    #events .features_op1_row .feature .img_box span.circle{
        left: 44%;
    }
    #events .features_op1_row .feature:hover .img_box{
        box-shadow:none;
    }
    #events .option2 {
        margin-bottom: 60px;
    }
    #events .option2 .feature {
        float: left;
        width: 100%;
        margin-bottom: 60px;
    }
    #events .option2 .right{
        /*margin-bottom: 0;*/
    }
    #events .option2 .feature .text{
        margin-top: 0;
    }
    #events .last {
        margin-bottom: 0;
    }
    #events .option3 .feature {
        margin-bottom: 60px;
    }
}
