<h4 class="list-group-item-heading">{{ name }}</h4>
<div class="app-form-label">My Licences</div>
<div class="input-group">
    <input type="text" class="form-control bfh-number app-form-input installs-permitted">
    <span class="input-group-addon bfh-number-btn inc"><span class="glyphicon glyphicon-chevron-up"></span></span>
    <span class="input-group-addon bfh-number-btn dec"><span class="glyphicon glyphicon-chevron-down"></span></span>
</div>
<div id="{{ appID }}" class="panel-collapse collapse">Test devices</div>

