<h4 class="list-group-item-heading">{{ name }}</h4>
<div id="{{ appID }}" class="panel-collapse">
    <li class="staff-panel panel inner-item">
    </li>
    <li class="user-panel panel inner-item">
        <table class="table">
            <tr>
                <td class="col-md-6 list-label">
                    My Licences
                </td>
                <td class="col-md-6">
                    <li class="installs-permitted input-group">

                    </li>
                </td>
            </tr>
        </table>
    </li>
</div>

